{% extends "layout.html" %}

{% block body %}
    <h3>About Mirbey Mercan</h3>
    <br><hr>
    <p>As a graduate of "Information Technologies" from Vocational Technical High School, I was entitled to enter the Department of Electrical and Electronics Engineering. My expectation from my department, with the algorithmic foundations I have, is to train me with the ability to think innovatively for the future, together with my personal efforts. Being able to benefit humanity in the future is my main goal and I am very determined to walk towards this goal. I had the opportunity to be abroad within the scope of the Erasmus+ program last semester and I believe that I gained different perspectives. I am interested in software languages such as Flask and Django Framework with Python.</p>
{% endblock body %}